<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- <script type="text/javascript" src="js/set_root.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- jquery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- bootstrap css -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/reset.css"> -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--validate验证表单插件-->
    <script src="/static/js/jquery-1.11.1.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/messages_zh.js"></script>
    <link rel="stylesheet" href="/static/css/validation.css">
    <!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script> -->
    <!-- 导航栏样式激活 -->
    <script>
        function active(){
            var pathname = window.location.pathname;
            $('#navbar').find('a').each(function(){
                if($(this).attr('href')==pathname){
                    $(this).parent().addClass('active');
                    return;
                }
            })
        }
        $(function(){
            active();
        })
    </script>

    {% block header %}{% endblock header %}

</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/lesson/schedule/">课程管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/lesson/schedule/">课表</a></li>
                    <li><a href="/lesson/student/">学生课程管理</a></li>
                    <li><a href="/lesson/teacher/">老师课程管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            其他 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/student/">学生管理</a></li>
                            <li><a href="/teacher/">老师管理</a></li>
                            <li><a href="/lesson/">课程种类</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">价格统计</li>
                            <li><a href="/price/student/">学生价格统计</a></li>
                            <li><a href="/price/teacher/">老师价格统计</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul> -->
            </div>
        </div>
    </nav>
    {% block body %}{% endblock body %}
</body>
</html>