{% extends "base.html" %}

{% block header %}
<script>
    {% block script %}{% endblock script %}

    function checkForm() {

        {% block checkForm %}{% endblock checkForm %}

        $.ajax({
                url: myUrl,      //根据操作传入不同的URL
                type:"post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType:'json',
                timeout:50000,
                beforeSend:function () {
                    $('#tip').html('<span style="color: cornflowerblue">正在处理...</span>');
                    return true;
                },
                success:function (data) {
                    if(data.code==0){
                        $('#tip').html('<span style="color: green">操作成功！</span>');
                        location.reload(true);
                    }
                    else{
                        alert(data.message);
                        $('#tip').html('<span style="color: red">操作失败，请重试</span>');
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    // alert(XMLHttpRequest.status);//状态码
                    // alert(XMLHttpRequest.readyState);//状态
                    // alert(textStatus);//错误信息
                    alert("出错了");

                },
                complete:function () {

                }
        });
    }

    function delete_one(id) {
        if(confirm('确定删除吗?')) {
            var data = {}
            data['type'] = 'delete';
            data['id'] = id;
            $.ajax({
                url: myUrl,
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                //解决编码问题
                // scriptCharset: 'utf-8',
                // contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    return true;
                },
                success: function (data) {
                    if(data.code==0) {
                        console.log(data);
                        location.reload(true);
                    }
                    else{
                        alert(data.message);
                    }
                },
                error: function() {
                    alert('出错了');
                }
            })
        }
    }
</script>
{% endblock header %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <!-- Large modal -->
            <div class="row">
                {% block row %}
                <p class="text-right"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" onclick="setUrl()">{{ add_button }}</button></p>
                {% endblock row %}
            </div>
            <!--模态框-->
            <form method="post" name="user" class="form-horizontal" role="form" id="form-data"  style="margin: 20px;" >
                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="updateModalLabel">
                                    {{ modal_title }}
                                </h4>
                            </div>
                            <div class="modal-body">
                                {% block modal_form %}{% endblock modal_form %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--type为submit时，会自动调用该表单的验证，但是不会调用自己定义的动态的user_name的验证，
                                所以把按钮类型改为input，再手动调用封装好的验证函数-->
                                {% block delete_btn %}{% endblock delete_btn %}
                                <button type="input" class="btn btn-primary" onclick="vali();">提交</button>
                                <span id="tip"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 表格 -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    {% block table %}{% endblock table %}
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
