/*表格样式重写*/
.table-responsive .table thead td{
	font-weight: bold;
}

.table th, .table td { 
	text-align: center;
	/* vertical-align: middle!important; */
}

.table-responsive .table .text-muted{
	padding: 2px;
	color: #000;
}

/*课程信息框*/
.lesson{
	margin-bottom: 8px;
	/*text-align: center;*/
	background-color: #d9edf7;
	/*border-radius: 5%;*/
	padding: 3px 0;
	/*border: 1px;*/
	/*border-bottom-style: solid;*/
	cursor: pointer;
}

/*上课时间*/
.start_time, .end_time{
	color: #323232;
	font-weight: bold;
}

/*课程信息*/
.lesson_info{
	font-weight: bold;
	color: #d37c00;
}

.mark_location{
	position: relative;
}

/*必填项的**/
@media (min-width: 768px)
{
	.star{
		color: red;
		font-weight: bold;
		position: absolute;
		right: 5px;
		top: 10px;
	}
}

@media (max-width: 767px)
{
	.star{
		color: red;
		font-weight: bold;
		position: absolute;
		right: 5px;
		top: 3px;
	}
}

