{% extends "base.html" %}

{% block head %}
    <!-- datetimepicker时间插件 -->
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <!-- 时间选择器 -->
    <script>
        $(function(){
            $("#start").datetimepicker({
                format:'yyyy-mm-dd hh:ii',  //格式  如果只有yyyy-mm-dd那就是0000-00-00
                autoclose:true,//选择后是否自动关闭 
                minView:0,//最精准的时间选择为日期  0-分 1-时 2-日 3-月
                language:  'zh-CN', //中文
                weekStart: 1, //一周从星期几开始
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
            // daysOfWeekDisabled:"1,2,3", //一周的周几不能选 格式为"1,2,3"  数组格式也行
                todayBtn : true,  //在底部是否显示今天
                todayHighlight :false, //今天是否高亮显示
                keyboardNavigation:true, //方向图标改变日期  必须要有img文件夹 里面存放图标
                showMeridian:false,  //是否出现 上下午
                initialDate:new Date()
                //startDate: "2017-01-01" //日期开始时间 也可以是new Date()只能选择以后的时间
            }).on("changeDate",function(){
                var start = $("#start").val();
                $("#end").datetimepicker("setStartDate",start);
            }); 
            $("#end").datetimepicker({
                format:'yyyy-mm-dd hh:ii',  //格式  如果只有yyyy-mm-dd那就是0000-00-00
                autoclose:true,//选择后是否自动关闭 
                minView:0,//最精准的时间选择为日期  0-分 1-时 2-日 3-月
                language:  'zh-CN', //中文
                weekStart: 1, //一周从星期几开始
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                //daysOfWeekDisabled:"1,2,3", //一周的周几不能选
                todayBtn : true,  //在底部是否显示今天
                todayHighlight :false, //今天是否高亮显示
                keyboardNavigation:true, //方向图标改变日期  必须要有img文件夹 里面存放图标
                showMeridian:false  //是否出现 上下午
            // startDate: "2017-01-01"  //开始时间  ENdDate 结束时间
            }).on("changeDate",function(){
                var end = $("#end").val();
                $("#start").datetimepicker("setEndDate",end);
            });   
        });
    </script>
{% endblock head %}

{% block script %}
    // 添加validation验证方法
    $.validator.addMethod("isDatetime",function(value,element){
        var score =  /^[0-9]{4}-[0-1]?[0-9]{1}-[0-3]?[0-9]{1} (0\d{1}|1\d{1}|2[0-3]):([0-5]\d{1})$/;
        return this.optional(element) || (score.test(value));
    },"<font>请输入正确的时间格式 (2018-01-01 08:00)</font>");

    //定义一个变量用于存储添加和修改时不同的URL
    var myUrl = '/lesson/schedule/info/';

    // 点击update,并传入id
    function update(id) {
        initForm();
        if(!id){
            alert('id错误');
            return false;
        }
        $('.delete').show();

        $.ajax({
            url: myUrl,
            data: {'id': id},
            type: 'get',
            dataType: 'json',
            //解决编码问题
            // scriptCharset: 'utf-8',
            // contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                return true;
            },
            success: function (data) {
                if(data.code==0) {
                    data = data.data;
                    console.log(data);
                    //赋值
                    $('#id').val(data.id);
                    $('#lesson_of_teacher').val(data.lesson_of_teacher);
                    $('#start').val(data.start);
                    $('#end').val(data.end);
                    $('.delete').attr('onclick', 'delete_one('+data.id+');');
                }
                else{
                    alert(data.message);
                }
            }
        })
    }

    //表单字段验证
    //如果按照一般验证的写法，只能调用整个表单的validate函数，而不能调用自定义的user_name验证，所以把两个函数封装成为一个，在点击按钮时调用
    function vali() {
        //form-data表单验证。
        $("#form-data").validate({
            onfocusout:function(element) { $(element).valid(); },
            onblur: function(element) { $(element).valid(); },    //鼠标移开验证。这里写onblue:true没有效果
            onsubmit:true,      //提交时验证（有效）
            onkeyup:false,
            rules:{
                lesson_of_teacher:{
                    required:true,
                },
                start:{
                    required:true,
                    isDatetime:true,
                },
                end:{
                    required:true,
                    isDatetime:true,
                }
            },
            messages:{
                lesson_of_teacher:{
                    required:"请选择老师",
                },
                start:{
                    required:"请选择开始时间",
                },
                end:{
                    required:"请选择结束时间",
                }
            },
            submitHandler:function (form) {
                checkForm();
            }
        });
    }

    // 初始化模态框
    function initForm() {
        $('#tip').empty();
        $('#id').val('');
        $('#lesson_of_teacher option:first').prop('selected', true);
        $('#start').val('');
        $('#end').val('');
        $('.delete').hide();
    };

    /*
    点击添加用户时需要做的操作：
        1.修改提交表单的URL
        2.将user_name的readonly属性移除
        3.清空表单数据
        */
    function setUrl() {
        initForm();
    }

    /* 获取url参数 */
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    /* 获取当前日期 */
    function getFormatDate(date, n){
        var date = date;
        var year,month,day ;
        date.setDate(date.getDate()+n*7);
        year = date.getFullYear();
        month = date.getMonth()+1;
        day = date.getDate() ;
        s = year + '-' + ( month < 10 ? ( '0' + month ) : month ) + '-' + ( day < 10 ? ( '0' + day ) : day) ;
        return s ;
    }

    function week(num) {
        var strDate = getUrlParam('date');
        if(strDate==null){
            date = new Date();
        }
        else{
            date = new Date(Date.parse(strDate));
        }
        date = getFormatDate(date, num);
        url = location.pathname + '?date=' + date;
        window.location.href = url;
    }

{% endblock script %}

{% block checkForm %}
    var obj = {};

    obj['type'] = 'add';
    obj['lesson_of_teacher'] = parseInt($('#lesson_of_teacher').val());
    obj['start'] = $('#start').val();
    obj['end'] = $('#end').val();

    if ($('#id').val().length!=0) {
        console.log($('#id').val());
        obj['id'] = parseInt($('#id').val());
        obj['type'] = 'edit';
    }
{% endblock checkForm %}

{% block navbar %}
    <li class="active"><a href="/lesson/schedule/">课表</a></li>
    <li><a href="/lesson/student/">学生课程管理</a></li>
    <li><a href="/lesson/teacher/">老师课程管理</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            其他 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/student/">学生管理</a></li>
            <li><a href="/teacher/">老师管理</a></li>
            <li><a href="/lesson/">课程种类</a></li>
        </ul>
    </li>
{% endblock navbar %}

{% block search %}
<button type="button" class="btn btn-info" onclick="week(-1)">上一周</button>
<button type="button" class="btn btn-info" onclick="week(1)">下一周</button>
{% endblock search %}

{% block modal_form %}
    <form action="" class="form-horizontal">
        <!--user_id为隐藏的input，便于update时的传值-->
        <input type="text" id="id" name="id" hidden>
        <div class="form-group">
            <label for="lesson_of_teacher" class="col-sm-3 control-label mark_location">
                课程
                <span class="star">*</span>
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="lesson_of_teacher" name="lesson_of_teacher">
                    <option value="">请选择课程</option>
                    {% for lesson_of_teacher in lesson_of_teacher_list %}
                        <option value="{{ lesson_of_teacher.id }}">{{ lesson_of_teacher }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="start" class="col-sm-3 control-label mark_location">
                开始时间
                <span class="star">*</span>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="开始时间" id="start" name="start" autocomplete='off'>
            </div>
        </div>
        <div class="form-group">
            <label for="end" class="col-sm-3 control-label mark_location">
                结束时间
                <span class="star">*</span>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="结束时间" id="end" name="end" autocomplete='off'>
            </div>
        </div>
    </form>
{% endblock modal_form %}

{% block delete_btn %}
    <button type="button" class="btn btn-danger delete">删除</button>
{% endblock delete_btn %}

{% block table %}
    {% for lesson_info in lesson_info_list %}
    <thead>
        <tr>
            <th>时间</th>
            {% for date in lesson_info.date_list %}
                <th>{{ date }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">上午</th>
            {% for morning in lesson_info.morning %}
            <td class="text-muted">
                {% for lesson in morning %}
                <div class="lesson">
                    <div data-toggle="modal" data-target="#updateModal" onclick="update({{ lesson.id }})">
                        <div class="lesson_info">{{ lesson.lesson_of_teacher }}</div>
                        <div class="start_time">{{ lesson.start|date:'m-d H:i' }}</div>
                        <div class="end_time">{{ lesson.end|date:'m-d H:i' }}</div>
                    </div>
                    <!--<div>-->
                        <!--<button type="button" class="btn btn-danger btn-xs" onclick="delete_one({{ lesson.id }})">删除</button>-->
                    <!--</div>-->
                </div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">下午</th>
            {% for afternoon in lesson_info.afternoon %}
            <td class="text-muted">
                {% for lesson in afternoon %}
                <div class="lesson">
                    <div data-toggle="modal" data-target="#updateModal" onclick="update({{ lesson.id }})">
                        <div class="lesson_info">{{ lesson.lesson_of_teacher }}</div>
                        <div class="start_time">{{ lesson.start|date:'m-d H:i' }}</div>
                        <div class="end_time">{{ lesson.end|date:'m-d H:i' }}</div>
                    </div>
                    <!--<div>-->
                        <!--<button type="button" class="btn btn-danger btn-xs" onclick="delete_one({{ lesson.id }})">删除</button>-->
                    <!--</div>-->
                </div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">晚上</th>
            {% for night in lesson_info.night %}
            <td class="text-muted">
                {% for lesson in night %}
                <div class="lesson">
                    <div data-toggle="modal" data-target="#updateModal" onclick="update({{ lesson.id }})">
                        <div class="lesson_info">{{ lesson.lesson_of_teacher }}</div>
                        <div class="start_time">{{ lesson.start|date:'m-d H:i' }}</div>
                        <div class="end_time">{{ lesson.end|date:'m-d H:i' }}</div>
                    </div>
                    <!--<div>-->
                        <!--<button type="button" class="btn btn-danger btn-xs" onclick="delete_one({{ lesson.id }})">删除</button>-->
                    <!--</div>-->
                </div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
{% endblock table %}