{% extends "base.html" %}

{% block script %}
    //定义一个变量用于存储添加和修改时不同的URL
    var myUrl = '/lesson/teacher/info/';

    // 点击update,并传入id
    function update(id) {
        initForm();
        if(!id){
            alert('id错误');
            return false;
        }

        $.ajax({
            url: myUrl,
            data: {'id': id},
            type: 'get',
            dataType: 'json',
            //解决编码问题
            // scriptCharset: 'utf-8',
            // contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                return true;
            },
            success: function (data) {
                if(data.code==0) {
                    data = data.data;
                    console.log(data);
                    //赋值
                    $('#id').val(data.id);
                    $('#teacher').val(data.teacher);
                    $('#lesson').val(data.lesson);
                    $('#price').val(data.price);
                }
                else{
                    alert(data.message);
                }
            }
        })
    }

    //表单字段验证
    //如果按照一般验证的写法，只能调用整个表单的validate函数，而不能调用自定义的user_name验证，所以把两个函数封装成为一个，在点击按钮时调用
    function vali() {
        //form-data表单验证。
        $("#form-data").validate({
            onfocusout:function(element) { $(element).valid(); },
            onblur: function(element) { $(element).valid(); },    //鼠标移开验证。这里写onblue:true没有效果
            onsubmit:true,      //提交时验证（有效）
            onkeyup:false,

            rules:{
                teacher:{
                    required:true,
                },
                lesson:{
                    required:true,
                },
                price:{
                    required:true,
                    digits:true,
                    range:[0,99999]
                }
            },
            messages:{
                teacher:{
                    required:"请选择老师",
                },
                lesson:{
                    required:"请选择课程",
                },
                price:{
                    required:"请输入价格",
                    digits:"请输入数字",
                    range:"请在0-9999范围内输入"
                },
            },
            submitHandler:function (form) {
                checkForm();
            }
        });
    }

    // 初始化表单
    function initForm() {
        $('#tip').html('');
        $('#id').val('');
        $('#teacher option:first').prop('selected', true);
        $('#lesson option:first').prop('selected', true);
        $('#price').val('');
    }

    /*
    点击添加用户时需要做的操作：
        1.修改提交表单的URL
        2.将user_name的readonly属性移除
        3.清空表单数据
        */
    function setUrl() {
        initForm();
    }
{% endblock script %}

{% block checkForm %}
    var obj = {};

    obj['type'] = 'add';
    obj['teacher'] = parseInt($('#teacher').val());
    obj['lesson'] = parseInt($('#lesson').val());
    obj['price'] = parseInt($('#price').val());

    if ($('#id').val().length!=0) {
        console.log($('#id').val());
        obj['id'] = parseInt($('#id').val());
        obj['type'] = 'edit';
    }
{% endblock checkForm %}

{% block navbar %}
    <li><a href="#">课表</a></li>
    <li><a href="/lesson/student/">学生课程管理</a></li>
    <li class="active"><a href="/lesson/teacher/">老师课程管理</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            其他 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/student/">学生管理</a></li>
            <li><a href="/teacher/">老师管理</a></li>
            <li><a href="/lesson/">课程种类</a></li>
        </ul>
    </li>
{% endblock navbar %}

{% block modal_form %}
    <form action="" class="form-horizontal">
        <!--user_id为隐藏的input，便于update时的传值-->
        <input type="text" id="id" name="id" hidden>
        <div class="form-group">
            <label for="teacher" class="col-sm-3 control-label mark_location">
                老师
                <span class="star">*</span>
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="teacher" name="teacher">
                    <option value="">请选择老师</option>
                    {% for teacher in teacher_list %}
                        <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="lesson" class="col-sm-3 control-label mark_location">
                课程
                <span class="star">*</span>
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="lesson" name="lesson">
                    <option value="">请选择课程</option>
                    {% for lesson in lesson_list %}
                        <option value="{{ lesson.id }}">{{ lesson.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" id="hide_account">
            <label for="price" class="col-sm-3 control-label mark_location">
                课时费
                <span class="star">*</span>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="price" name="price" placeholder="请输入价格">
            </div>
        </div>
    </form>
{% endblock modal_form %}

{% block table %}
    <thead>
        <tr>
            <th hidden>id</th>
            <th>老师</th>
            <th>课程</th>
            <th>价格</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody >
        {% for lesson_of_teacher in lesson_of_teacher_list %}
        <tr class="info">
            <td class="id" value="{{ lesson_of_teacher.id }}" hidden>{{ lesson_of_teacher.id }}</td>
            <td class="student" value="{{ lesson_of_teacher.teacher.id }}">{{ lesson_of_teacher.teacher.name }}</td>
            <td class="lesson" value="{{ lesson_of_teacher.lesson.id }}">{{ lesson_of_teacher.lesson.name }}</td>
            <td class="price" value="{{ lesson_of_teacher.price }}">{{ lesson_of_teacher.price }}</td>
            <td>
                <!--传入当前用户id-->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateModal" onclick="update({{ lesson_of_teacher.id }})">编辑</button>
                <button type="button" class="btn btn-danger btn-sm"  onclick="delete_one({{ lesson_of_teacher.id }})">删除</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock table %}