{% extends "base_form.html" %}


{% block header %}
<!-- datetimepicker时间插件 -->
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<!-- 时间选择器 -->
<script>
    $(function(){
        $("#select_month").datetimepicker({
            format: 'yyyy-mm',
            weekStart: 1,
            autoclose: true,
            startView: 3,
            minView: 3,
            forceParse: false,
            language: 'zh-CN'
        });
    });
</script>
<script>
    //定义一个变量用于存储添加和修改时不同的URL
    var myUrl = '/price/teacher/';

    /* 获取url参数 */
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    /* 获取当前日期 */
    function getFormatDate(date, n){
        var date = date;
        var year,month,day ;
        date.setMonth(date.getMonth()+n);
        year = date.getFullYear();
        month = date.getMonth()+1;
        day = date.getDate() ;
        s = year + '-' + ( month < 10 ? ( '0' + month ) : month );
        return s ;
    }

    /* 加减一个月 */
    function month(num) {
        var strDate = getUrlParam('date');
        if(strDate==null){
            date = new Date();
        }
        else{
            date = new Date(Date.parse(strDate));
        }
        date = getFormatDate(date, num);
        var params = '?date=' + date;
        url = location.pathname + params;
        window.location.href = url;
    }

    /* 筛选器 */
    function filter(){
        var select_month = $('#select_month').val();
        var params = "?date=" + select_month;
        url = location.pathname + params;
        window.location.href = url;
    }

    /* 价格统计 */
    function count(){
        var hours = 0;
        var prices = 0;
        $('.info').each(function(index, item){
            hour = $(this).find('.hour').attr('value');
            price = $(this).find('.price').attr('value');
            hours += Number(hour);
            prices += Number(price);
        })
        $('#count').find('.hour').html(hours).attr('value', hours);
        $('#count').find('.price').html(prices).attr('value', prices);
    }

    /* 点击详细 */
    function detail(id){
        var params = '?teacher=' + id;
        var date = getUrlParam('date');
        if(date!=null){
            params += '&date=' + date;
        }
        url = location.pathname + params;
        window.location.href = url;
    }

    $(function(){
        count();
    })
</script>
{% endblock header %}


{% block row %}
<div class="col-xs-12 col-sm-4 col-md-4">
    <button type="button" class="btn btn-info" onclick="month(-1)">上一个月</button>
    <button type="button" class="btn btn-info" onclick="month(1)">下一个月</button>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <p class="text-center">
        {{ date }}
    </p>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="col-xs-9 col-sm-9 col-md-9">
        <input type="text" class="form-control" placeholder="选择月份" id="select_month" name="select_month" autocomplete='off'>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        <button type="button" class="btn btn-default" onclick="filter()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
</div>
{% endblock row %}


{% block table %}
<thead>
    <tr>
        <th hidden>id</th>
        <th>老师姓名</th>
        <th>总课时</th>
        <th>总课时费</th>
        <th>查看详情</th>
    </tr>
</thead>
<tbody >
    {% for teacher_price in teacher_price_list %}
    <tr class="info">
        <td class="id" value="{{ teacher_price.id }}" hidden>{{ teacher_price.id }}</td>
        <td class="name" value="{{ teacher_price.name }}">{{ teacher_price.name }}</td>
        <td class="hour" value="{{ teacher_price.hour }}">{{ teacher_price.hour }}</td>
        <td class="price" value="{{ teacher_price.price }}">{{ teacher_price.price }}</td>
        <td>
            <!--传入当前用户id-->
            <button type="button" class="btn btn-info btn-sm" onclick="detail({{ teacher_price.id }})">查看详情</button>
        </td>
    </tr>
    {% endfor %}
    <tr class="" id="count">
        <td class="id" value="all" hidden>all</td>
        <td class="name" value="统计">统计</td>
        <td class="hour" value=""></td>
        <td class="price" value=""></td>
        <td>
            <button type="button" class="btn btn-info btn-sm" onclick="detail('all')">查看详情</button>
        </td>
    </tr>
</tbody>
{% endblock table %}
