<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生管理</title>
    <!-- <script type="text/javascript" src="js/set_root.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- bootstrap css -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <!--validate验证表单插件-->
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/messages_zh.js"></script>
    <!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script> -->

    <!-- <script src="js/student.js"></script> -->
    <script>
        //定义一个变量用于存储添加和修改时不同的URL
        var myUrl;
        //传入点击的用户id，获取该用户信息并放入表单中
        function update(id) {
            //将提交表单的URL变为update
            myUrl = '/student/update';
            if(!id){
                alert('id错误');
                return false;
            }
    
            $.ajax(
                    {
                        url:"/student/update",
                        data:{"id": id},
                        type:"post",
                        //解决编码问题
                        scriptCharset: 'utf-8',
                        beforeSend:function () {
                            return true;
                        },
                        success:function (data) {
                            if(data){
                                //解析json数据
                                var data = data;
                                var student = eval("("+data + ")");
    
                                //赋值
                                $('#student_id').val(student.student_id);
                                $('#student_name').val(student.student_name);
                                $('#gender').val(student.gender);
                                $('#grade').val(student.grade);
                                $('#age').val(student.age);
    
                                //在修改用户信息时，student_name不可修改
                                $('#student_name').attr("readonly","readonly");
                            }
                        }
            });
        }
    
        //表单字段验证
        //如果按照一般验证的写法，只能调用整个表单的validate函数，而不能调用自定义的student_name验证，所以把两个函数封装成为一个，在点击按钮时调用
        function vali() {
            //form-data表单验证。
            $("#form-data").validate({
                onfocusout:function(element) { $(element).valid(); },
                onblur: function(element) { $(element).valid(); },    //鼠标移开验证。这里写onblue:true没有效果
                onsubmit:true,      //提交时验证（有效）
                onkeyup:false,
    
                rules:{
                    // student_name:{
                    //     required:true,
                    //     rangelength:[1,8]
                    // },
                    gender:{
                        required:true,
                        // email:true
                    },
                    age:{
                        required:false,
                        digits:true,
                        range:[3,50]
                    }
                },
                messages:{
                    // student_name:{
                    //     required:"请填写学生名",
                    //     rangelength:"学生名字长度不符合规范"
                    // },
                    gender:{
                        required:"请选择性别",
                        // email:"请填写正确的邮箱"
                    },
                    age:{
                        // required:"请填写手机号",
                        digits:"请填写正确的年龄",
                        range:"年龄必须介于3-50之间"
                    }
                },
                submitHandler:function (form) {
                    checkForm();
                }
            });
    
            //自定义动态student_name验证
            //student_name的校验只在添加操作时才需要
            //通过对student_name的readonly属性验证来判断是添加还是更新
            if($('#student_name').attr("readonly")==undefined){
                $('#student_name').rules("add",{
                    required:true,
                    rangelength:[1,8],
                    // remote: {
                    //     type: "POST",
                    //     url: "/checkstudent_name",
                    //     data: {
                    //         student_name: function () {
                    //             return $("#student_name").val();
                    //         }
                    //     },
                    //     dataType: "html",
                    //     dataFilter: function(data) {
                    //         if (data == "true")
                    //             return true;
                    //         else
                    //             return false;
                    //     }
                    // },
                    messages:{
                        required:"请填写用户名",
                        // remote:"用户名已存在",
                        rangelength:"用户名长度不符合规范"
                    }
                });
            }
        }
    
    
        /*
        点击添加用户时需要做的操作：
            1.修改提交表单的URL
            2.将student_name的readonly属性移除
            3.清空表单数据
            */
        function setUrl() {
            // myUrl='/student/add';
            myUrl='http://127.0.0.1:8000/student/';
            $('#student_name').removeAttr("readonly");
            $('#form-data input').val("");
        }
    
    
        //提交表单
        function checkForm() {
    
            var formData;
            //将表单内容序列化，即可得到相应对象，直接传到后台
            //student_id为空时，即当前操作为添加用户操作，此时只序列化除id之外四个属性，添加用户时id自增长。如果id为空也被序列化会报错
            if($('#student_id').val()==null||$('#student_id').val()==undefined||$('#student_id').val().length==0){
                formData = $('#student_name,#gender,#age,#grade').serializeArray();
            }
            //否则为更新操作，student_id为隐藏input，并且已经被赋值，序列化整个表单即可
            else{
                formData = $('#form-data').serializeArray();
            }
    
            $.ajax({
                    url:myUrl,      //根据操作传入不同的URL
                    data:formData,  //传入序列化的表单对象
                    type:"post",
                    dataType:'text',
                    async:false,    //异步传输
                    timeout:50000,
                    //设置编码
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    beforeSend:function () {
                        $('#tip').html('<span style="color: cornflowerblue">正在处理...</span>');
                        return true;
                    },
                    success:function (data) {
                        if(data > 0){
                            $('#tip').html('<span style="color: green">操作成功！</span>');
                            location.reload();
                        }else{
                            $('#tip').html('<span style="color: red">操作失败，请重试</span>');
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                        // alert(XMLHttpRequest.status);//状态码
                        // alert(XMLHttpRequest.readyState);//状态
                        // alert(textStatus);//错误信息
                        alert("出错了");
    
                    },
                    complete:function () {
    
                    }
            });
        }
    
    </script>
        
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">课程管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">课表</a></li>
                    <li><a href="#about">学生课程管理</a></li>
                    <li><a href="#contact">老师课程管理</a></li>
                    <!-- <li><a href="#contact">课程种类</a></li> -->
                    <!-- <li><a href="#contact">学生课程管理</a></li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            其他 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">学生管理</a></li>
                            <li><a href="#">老师管理</a></li>
                            <li><a href="#">课程种类</a></li>
                            <!-- <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li> -->
                        </ul>
                    </li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul> -->
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <!-- Large modal -->
            <p class="text-right"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" onclick="setUrl()">添加学生</button></p>
            <!--模态框-->
            <form method="post" name="user" class="form-horizontal" role="form" id="form-data"  style="margin: 20px;" >
                <div class="modal fade" id="updateModal"   tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="updateModalLabel">
                                    学生信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form action="" class="form-horizontal">
                                    <!--student_id为隐藏的input，便于update时的传值-->
                                    <input type="text" id="student_id" name="student_id" hidden>
                                    <div class="form-group mark_location">
                                        <span class="start">*</span>
                                        <label for="student_name" class="col-sm-3 control-label">学生姓名</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="student_name" name="student_name" placeholder="请输入学生姓名">
                                        </div>
                                    </div>
                                    <div class="form-group mark_location">
                                        <span class="start">*</span>
                                        <label for="gender" class="col-sm-3 control-label">性别</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="gender" name="gender">
                                                    <option></option>
                                                    <option>男</option>
                                                    <option>女</option>
                                            </select>
                                            <!-- <input type="text" class="form-control" id="gender" name="gender" placeholder="密码长度在5-20字符之间"> -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="grade" class="col-sm-3 control-label">年级</label>
                                        <div class="col-sm-9">
                                            <!-- <input type="text" class="form-control" id="grade" name="grade" placeholder="请输入手机号"> -->
                                            <select class="form-control" id="grade" name="grade">
                                                <option></option>
                                                <option>一年级</option>
                                                <option>二年级</option>
                                                <option>三年级</option>
                                                <option>四年级</option>
                                                <option>五年级</option>
                                                <option>六年级</option>
                                                <option>初一</option>
                                                <option>初二</option>
                                                <option>初三</option>
                                                <option>高一</option>
                                                <option>高二</option>
                                                <option>高三</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="age" class="col-sm-3 control-label">年龄</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="age" name="age" placeholder="请输入年龄">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--type为submit时，会自动调用该表单的验证，但是不会调用自己定义的动态的student_name的验证，
                                所以把按钮类型改为input，再手动调用封装好的验证函数-->
                                <button type="input" class="btn btn-primary" onclick="vali();">提交</button>
                                <span id="tip"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <p class="text-right"><button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target=".bs-example-modal-sm">添加学生</button></p> -->
            <!-- 学生信息框 -->
            <!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="label">添加学生</div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">姓名</label>
                                <span class="start">*</span>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="学生姓名">
                                </div>
                            </div>
                            <span class="col-sm-offset-3 col-sm-9 error_tip">提示信息</span>
                            <div class="form-group">
                                <label for="gender" class="col-sm-3 control-label">性别</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="gender">
                                        <option></option>
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="grade" class="col-sm-3 control-label">年级</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="grade" name="grade">
                                        <option></option>
                                        <option>一年级</option>
                                        <option>二年级</option>
                                        <option>三年级</option>
                                        <option>四年级</option>
                                        <option>五年级</option>
                                        <option>六年级</option>
                                        <option>初一</option>
                                        <option>初二</option>
                                        <option>初三</option>
                                        <option>高一</option>
                                        <option>高二</option>
                                        <option>高三</option>
                                        <option>其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age" class="col-sm-3 control-label">年龄</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="age" name="age" placeholder="年龄">
                                </div>
                            </div>
                            <span class="col-sm-offset-3 col-sm-9 error_tip">提示信息</span>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-success" id="refer_to">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            <!-- 表格 -->
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th >id</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年级</th>
                        <th>年龄</th>
                        <th>修改</th>
                    </tr>
                </thead>
                <tbody >
                    <tr th:each="user : ${userlist}">
                        <td th:text="${user.student_id}"></td>
                        <td th:text="${user.student_name}"></td>
                        <td th:text="${user.gender}"></td>
                        <td th:text="${user.grade}"></td>
                        <td th:text="${user.age}"></td>
                        <td>
                            <!--传入当前用户id-->
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateModal" th:onclick="'javascript: update('+${user.student_id}+')' ">编辑</button>
                            <button type="button" class="btn btn-danger btn-sm"  th:onclick="'javascript:deleteUser('+${user.student_id}+')' ">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>年级</td>
                            <td>年龄</td>
                            <td>修改</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">张三</th>
                            <td class="text-muted">男</td>
                            <td class="text-muted">二年级</td>
                            <td class="text-muted">8岁</td>
                            <td class="text-muted"><button type="button" class="btn btn-sm btn-warning">修改</button></td>
                            
                        </tr>
                        <tr>
                            <th scope="row">张三</th>
                            <td class="text-muted">男</td>
                            <td class="text-muted">二年级</td>
                            <td class="text-muted">8岁</td>
                            <td class="text-muted"><button type="button" class="btn btn-sm btn-warning">修改</button></td>
                        </tr>
                        <tr>
                            <th scope="row">张三</th>
                            <td class="text-muted">男</td>
                            <td class="text-muted">二年级</td>
                            <td class="text-muted">8岁</td>
                            <td class="text-muted"><button type="button" class="btn btn-sm btn-warning">修改</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>             -->
        </div>
    </div>
</body>
</html>